@import "../index.scss";

.cart {
  .cartOpen {
    position: absolute;
    right: 0;
    z-index: 500;
    margin-top: -1rem;
    min-width: 30%;
    border-radius: 10px;
    background-color: white;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.18);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.18);

    @media (max-width: 600px) {
      right: 50%;
      left: 50%;
      transform: translate(-50%, 25%);
      width: 90%;
    }

    h3 {
      padding: 1rem 2rem;
      border-bottom: 3px solid $light-grayish-blue;
    }

    .item {
      &__holder {
        display: flex;

        img {
          width: 4rem;
          border-radius: 5px;
        }

        .itemDetails {
        }

        .delete {
        }
      }
    }

    .empty {
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        color: $dark-grayish-blue;
        font-weight: bold;
      }
    }
  }
}
