@import "../index.scss";

.container {
  padding: 6rem 4rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 8rem;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  .left {
    img {
      max-width: 100%;
      border-radius: 1rem;
    }

    &__imgs {
      max-width: 20%;
      display: flex;
      gap: 1.9rem;
      margin-top: 1rem;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h4 {
      color: $primary-orange;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    h1 {
      font-size: 3rem;
      margin-bottom: 1rem;
    }

    p {
      color: $dark-grayish-blue;
    }

    &__price {
      display: flex;
      gap: 1.5rem;
      align-items: center;

      p {
        font-size: 2rem;
        font-weight: 800;
        color: black;
      }

      span {
        background-color: hsla(26, 100%, 55%, 0.27);
        color: $primary-orange;
        padding: 0.3rem;
        border-radius: 0.3rem;
        font-weight: bold;
      }
    }

    &__old_price {
      font-weight: bold;
      color: $grayish-blue !important;
      text-decoration: line-through;
    }

    .form {
      .counter {
        
      }
    }
  }
}
