@import "../index.scss";

.container {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid $grayish-blue;
  transition: all 0.3s;

  @media (max-width: 900px) {
    border-bottom: none;
  }

  .left {
    display: flex;
    justify-content: center;
    align-items: center;

    .menu {
      @media (min-width: 900px) {
        display: none;
      }
      margin-right: 1rem;
      cursor: pointer;
    }

    img {
      max-width: 100%;
      object-fit: contain;
    }

    ul {
      color: $grayish-blue;
      display: flex;
      list-style: none;
      margin-left: 3rem;
      gap: 2rem;
      cursor: pointer;

      :hover {
        color: $primary-orange;
        transform: translateY(-5px);
        transition: all 0.1s;
      }

      @media (max-width: 900px) {
        display: none;
      }
    }
  }

  .right {
    display: flex;
    justify-content: center;
    align-items: center;

    .avatar {
      max-width: 50px;
      object-fit: contain;
      margin-left: 3rem;
      cursor: pointer;

      &:hover {
        border: 2px solid $primary-orange;
        border-radius: 50%;
      }

      @media (max-width: 900px) {
        max-width: 30px;
      }
    }

    .icon {
      color: $grayish-blue;
      cursor: pointer;
    }
  }
}
